body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #2d2b2b;
    border-radius: 10%;
    padding: 15px;
    width: 250px;
}

.container #h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 23px;
}

#input-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    max-height: min-content;
}

input {
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    margin-right: 10px;
    background-color: #534f4f;
    outline: none;
    color: white;
}

input::placeholder {
    color: #cac6c6;
    opacity: 1;
}

#add-task-btn {
    background-color: #521eab;
    border: 1px solid #521eab;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #454343;
    padding-left: 10px;
    padding-block: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
li span {
    word-break: break-word;
    overflow-wrap: anywhere;
    padding-right: 10px;
}

li span.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

li button {
    background-color: #d32f2f;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #b71c1c;
}
