@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Boldonse", Arial, Helvetica, sans-serif;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  max-width: 350px;
  z-index: 2;
}

.logo {
  width: 150px;
  object-fit: contain;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #8a2be2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 3);
}

button:hover {
  background-color: #6412b1;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
