@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Tektur:wght@400..900&display=swap");

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Boldonse", "Roboto", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.card {
    background-color: #bd9cc3;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #000000;
    position: relative;
    width: 300px;
    padding: 20px;
}

.card header {
    display: flex;
    justify-content: center;
}

p {
    font-family: "Tektur", sans-serif;
    font-size: 1em;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.card img:hover {
    transform: scale(1.3) rotate(360deg);
    transition: ease-in-out 2s;
}
